.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  /* height: 350px;
  overflow: auto; */
}

.res-card h4, .res-card h3 {
  margin: 2px;
}



.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}
